#container_1 {
    background-color: white;
    width: 966px;
    padding: 0px 200px 0px 200px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    border-bottom: 2px solid #666666;
    margin-bottom: 50px;
}

#header{

    float:left;
    font-size: 50px;
}

#nav { 

    font-family: 'Times New Roman', Times, serif;
    float: right;
    
}

.about_me {
    padding: 25px 25px 0px 0px
}


.portfolio_1 {

    padding: 25px 25px 0px 0px
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 25px 0px 25px;
}
h2{
    color: #4aaaa5;
    font-size: 50px
}

#profilepic{
    margin: 0px 15px 15px 0px;
    height: 200px;
    width: 300px;
    float: left;

}

#container{
    background-color: white;
    border: 3px solid #666666;
    font-family: 'Times New Roman', Times, serif;
    margin: 75px 75px 75px 200px;
    width: 960px;
    padding: 25px 25px 25px 25px;
}

#footer{
    padding: 40px 0 0 0;
    border-top: 5px solid #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #666666;
    text-align: center;
    
    font-size: 12px;
}