body {

    background-image: url("../images/hex.png");

}

#container_1 {
    background-color: white;
    width: 966px;
    padding: 0px 200px 0px 200px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    border-bottom: 2px solid #666666;
    margin-bottom: 50px;
    position: absolute 
}

#header{

    float:left;
    font-size: 50px;
}

#nav { 

    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: #666666;
    margin: 15px 0 15px 0;
}

.about_me {
    padding: 25px 25px 0px 0px
}


.portfolio_1 {

    padding: 25px 25px 0px 0px
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 25px 0px 25px;
}
h2{
    color: #4aaaa5;
    font-size: 50px;
    border-bottom: 2px solid #666666;
    margin: 0 0 15px 0;
}

#profilepic{
    margin: 0px 15px 15px 0px;
    height: 200px;
    width: 300px;
    float: left;

}

#container{
    font-size: 16px;
    word-spacing: 4px;
    box-sizing: 960px;
    background-color: white;
    border: 3px solid #666666;
    font-family: 'Times New Roman', Times, serif;
    margin: 75px 75px 20% 200px;
    width: 960px;
    padding: 2% 2% 2% 2%;
}

#footer{
    padding: 40px 0 0 0;
    border-top: 5px solid #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #666666;
    text-align: center;
    font-size: 12px;
}

#hangman{

    background-color: #4aaaa5;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    float: left;
}

#rpg{

    background-color: #4aaaa5;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    float: left;
}

#trivia{

    background-color: #4aaaa5;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    float: left;
}

#rutgers{

    background-color: #4aaaa5;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    float: left;
}

#rock{

    background-color: #4aaaa5;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
    float: left;
}